PackageIdentifier: __PACKAGE_ID__
PackageVersion: __VERSION__
Installers:
  - Architecture: x64
    InstallerType: wix
    InstallerUrl: __INSTALLER_URL__
    InstallerSha256: __INSTALLER_SHA256__
ManifestType: installer
ManifestVersion: 1.10.0
