PackageIdentifier: __PACKAGE_ID__
PackageVersion: __VERSION__
PackageLocale: en-US
Publisher: DelinoIO
PublisherUrl: https://github.com/delinoio
PackageName: __PACKAGE_TITLE__
ShortDescription: __SHORT_DESCRIPTION__
License: MIT
LicenseUrl: https://github.com/delinoio/oss/blob/main/LICENSE
ManifestType: defaultLocale
ManifestVersion: 1.10.0
