class DexdexMainServer < Formula
  desc "DexDex control-plane Connect RPC server"
  homepage "https://github.com/delinoio/oss"
  url "__SOURCE_URL__"
  sha256 "__SOURCE_SHA256__"
  license "MIT"

  depends_on "go" => :build

  def install
    system "go", "build", "-o", bin/"dexdex-main-server", "./servers/dexdex-main-server"
  end

  test do
    assert_predicate bin/"dexdex-main-server", :exist?
  end
end
