class WithWatch < Formula
  desc "Watch command inputs and rerun commands when they change"
  homepage "https://github.com/delinoio/oss"
  version "__VERSION__"
  license "MIT"

  on_macos do
    if Hardware::CPU.intel?
      url "__DARWIN_AMD64_URL__"
      sha256 "__DARWIN_AMD64_SHA256__"
    else
      url "__DARWIN_ARM64_URL__"
      sha256 "__DARWIN_ARM64_SHA256__"
    end
  end

  on_linux do
    if Hardware::CPU.intel?
      url "__LINUX_AMD64_URL__"
      sha256 "__LINUX_AMD64_SHA256__"
    else
      odie "with-watch prebuilt distribution currently supports Linux amd64 only"
    end
  end

  def install
    bin.install "with-watch"
  end

  test do
    assert_predicate bin/"with-watch", :exist?
  end
end
