<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="LocalAppDataFolder">
      <Directory Id="DevHudNativeMessagingDirectory" Name="io.delino.devhud">
        <Component Id="DevHudNativeMessagingLifecycle" Guid="*">
          <RegistryKey
            Root="HKCU"
            Key="Software\Google\Chrome\NativeMessagingHosts\io.delino.devhud.native_messaging"
            Action="createAndRemoveOnUninstall"
          >
            <RegistryValue
              Type="string"
              Value="[DevHudNativeMessagingDirectory]io.delino.devhud.native_messaging.json"
              KeyPath="yes"
            />
          </RegistryKey>
          <RemoveFile
            Id="DevHudRemoveNativeMessagingManifest"
            Name="io.delino.devhud.native_messaging.json"
            On="uninstall"
          />
          <RemoveFolder Id="DevHudRemoveNativeMessagingDirectory" On="uninstall" />
        </Component>
      </Directory>
    </DirectoryRef>
    <CustomAction
      Id="DevHudRollbackNativeMessagingRegistration"
      Directory="INSTALLDIR"
      ExeCommand="&quot;[INSTALLDIR]devhud-native-messaging-host.exe&quot; unregister"
      Execute="rollback"
      Impersonate="yes"
      Return="ignore"
    />
    <CustomAction
      Id="DevHudRegisterNativeMessaging"
      Directory="INSTALLDIR"
      ExeCommand="&quot;[INSTALLDIR]devhud-native-messaging-host.exe&quot; register &quot;[INSTALLDIR]devhud-native-messaging-host.exe&quot;"
      Execute="deferred"
      Impersonate="yes"
      Return="check"
    />
    <CustomAction
      Id="DevHudUnregisterNativeMessaging"
      Directory="INSTALLDIR"
      ExeCommand="&quot;[INSTALLDIR]devhud-native-messaging-host.exe&quot; unregister"
      Execute="immediate"
      Impersonate="yes"
      Return="check"
    />
    <InstallExecuteSequence>
      <Custom Action="DevHudRollbackNativeMessagingRegistration" After="InstallFiles">NOT Installed</Custom>
      <Custom Action="DevHudRegisterNativeMessaging" After="DevHudRollbackNativeMessagingRegistration">NOT Installed</Custom>
      <Custom Action="DevHudUnregisterNativeMessaging" Before="RemoveFiles">REMOVE~=&quot;ALL&quot;</Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
